services:
  pgsql:
    image: postgres:16           # typo: postgresn → postgres
    restart: always
    environment:
      POSTGRES_DB: laravel_db       # DB名は任意ですが .env と一致させる
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: 3249
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - sail

  laravel.test:
    build:
      context: './vendor/laravel/sail/runtimes/8.4'
      dockerfile: Dockerfile
      args:
        WWWGROUP: '${WWWGROUP}'
    image: 'sail-8.4/app'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    ports:
      - '8080:80'
      - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
    environment:
      WWWUSER: '${WWWUSER}'
      LARAVEL_SAIL: 1
      XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
      XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
      IGNITION_LOCAL_SITES_PATH: '${PWD}'
    volumes:
      - '.:/var/www/html'
    networks:
      - sail
    depends_on:
      - pgsql

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    networks:
      - sail
    depends_on:
      - pgsql 

networks:
  sail:
    driver: bridge

volumes:
  pgdata:
